@model NSN.Models.Stq
@{
    ViewData["Title"] = "Home Page";
}

<style>
    fieldset {
        /*        background-color: #eeeeee; */
        box-shadow: 2px 2px 5px gray;
        margin-top: 10px;
    }

    legend {
        background-color: dimgray;
        color: white;
        padding: 5px 10px;
        font-size: 15px;
        box-shadow: 2px 0px 5px gray;
    }

    .flabel {
        font-size: 12px;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    .sd {
        /*font-weight: bold;*/
        margin-bottom: 0px;
        margin-top: 2px;
        font-size: 14px;
    }
</style>

<div id="f424">
    <form>
        <!-- Detalhe do Produto -->
        <fieldset>
            <legend class="d-flex align-items-center">
                Informe o Produto:
                <div class="d-flex align-items-center d-inline-flex mr-auto px-2">
                    <input class="mx-2 mt-0 form-control form-control-sm" type="text" id="pesqReferencia" value="@Model.refx" accesskey="C" autofocus="true">

                    <a href="#" onclick="Muda_Empresa()" class="btn btn-primary btn-sm" role="button">
                        <span style="font-size: 16px;">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </a>

                </div>
                <div class="d-flex align-items-center d-inline-flex ml-auto">
                    <span class="mx-2">Filial</span>

                    <select class="flabel custom-select" asp-items="@ViewBag.Empresas" id="selectempresa" value="@ViewBag.Filial" onchange="Muda_Empresa()">
                        <option value="">Selecione a Empresa</option>
                    </select>

                </div>
            </legend>
            <div class="form-group mx-3">
                <div class="row">

                    <!-- Informações/Adicionais -->
                    <div class="col-5">
                        <p class="text-success sd">Informação</p>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="refx" class="flabel col-form-control-sm"></label>
                                <input asp-for="refx" class="mt-0 form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-7">
                                <label asp-for="descr" class="flabel col-form-label-sm"></label>
                                <input asp-for="descr" class="mt-0 form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="unid" class="flabel col-form-label-sm"></label>
                                <input asp-for="unid" class="form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="conversao" class="flabel col-form-label-sm"></label>
                                <input asp-for="conversao" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="nrorig" class="flabel col-form-label-sm"></label>
                                <input asp-for="nrorig" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="comp" class="flabel col-form-label-sm"></label>
                                <input asp-for="comp" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="localx" class="flabel col-form-label-sm"></label>
                                <input asp-for="localx" class="form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <p class="text-success sd">Adicionais</p>
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="nrfabr" class="flabel col-form-label-sm"></label>
                                <input asp-for="nrfabr" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="importado" class="flabel col-form-label-sm"></label>
                                <input asp-for="importado" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="indisp" class="flabel col-form-label-sm"></label>
                                <input asp-for="indisp" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="cobrafrete" class="flabel col-form-label-sm"></label>
                                <input asp-for="cobrafrete" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="bloqcompra" class="flabel col-form-label-sm"></label>
                                <input asp-for="bloqcompra" class="form-control form-control-sm" type="text">
                            </div>
                        </div>

                    </div>

                    <!-- Multiplos/Fiscal -->
                    <div class="col-2">
                        <p class="text-success sd">Multiplos</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="multi" class="flabel col-form-label-sm"></label>
                                <input asp-for="multi" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="multcomp" class="flabel col-form-label-sm"></label>
                                <input asp-for="multcomp" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="qemb" class="flabel col-form-label-sm"></label>
                                <input asp-for="qemb" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <p class="text-success sd">Fiscal</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="classfisc" class="flabel col-form-label-sm"></label>
                                <input asp-for="classfisc" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="sittrib" class="flabel col-form-label-sm"></label>
                                <input asp-for="sittrib" class="form-control form-control-sm" type="text">
                            </div>

                        </div>
                    </div>

                    <!-- Cubicagem/Curva -->
                    <div class="col-2">
                        <p class="text-success sd">Cubicagem</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="larg" class="flabel col-form-label-sm"></label>
                                <input asp-for="larg" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="alt" class="flabel col-form-label-sm"></label>
                                <input asp-for="alt" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="compr" class="flabel col-form-label-sm"></label>
                                <input asp-for="compr" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="pesoliq" class="flabel col-form-label-sm"></label>
                                <input asp-for="pesoliq" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <p class="text-success sd">Curva</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="curvagrupo" class="flabel col-form-label-sm"></label>
                                <input asp-for="curvagrupo" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="curvaabc" class="flabel col-form-label-sm"></label>
                                <input asp-for="curvaabc" class="form-control form-control-sm" type="text">
                            </div>

                        </div>
                    </div>

                    <!-- Fornecedor/Codigo de Barras -->
                    <div class="col-3">
                        <p class="text-success sd">Fornecedor</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="idparceiro" class="flabel col-form-label-sm"></label>
                                <input asp-for="idparceiro" class="mt-0 form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="origidparc" class="flabel col-form-label-sm"></label>
                                <input asp-for="origidparc" class="mt-0 form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="idultrep" class="flabel col-form-label-sm"></label>
                                <input asp-for="idultrep" class="mt-0 form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="dtconf" class="flabel col-form-label-sm"></label>
                                <input asp-for="dtconf" class="mt-0 form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <p class="text-success sd">Código Barras</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="cdbar" class="flabel col-form-label-sm"></label>
                                <input asp-for="cdbar" class="form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="cdbar2" class="flabel col-form-label-sm"></label>
                                <input asp-for="cdbar2" class="form-control form-control-sm" type="text">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">


                    <!--<div class="col-3">-->
                    <!-- Precidficacao -->
                    <!--<p class="text-success sd">Preço de Venda</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="pvendaant" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvendaant" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="pvenda" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvenda" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="pvendafut" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvendafut   " class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="pofertant" class="flabel col-form-label-sm"></label>
                                <input asp-for="pofertant" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="pofert" class="flabel col-form-label-sm"></label>
                                <input asp-for="pofert" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="pofertfut" class="flabel col-form-label-sm"></label>
                                <input asp-for="pofertfut   " class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="percof" class="flabel col-form-label-sm"></label>
                                <input asp-for="percof" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="descofert" class="flabel col-form-label-sm"></label>
                                <input asp-for="descofert" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="pvatacado" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvatacado" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <p class="text-success sd">Preço de Tabela</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label asp-for="ptabela1" class="flabel col-form-label-sm"></label>
                                <input asp-for="ptabela1" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-6">
                                <label asp-for="ptabela2" class="flabel col-form-label-sm"></label>
                                <input asp-for="ptabela2" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                        </div>
                        <p class="text-success sd">Impostos</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="aliqicms" class="flabel col-form-label-sm"></label>
                                <input asp-for="aliqicms" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="sttabcmp" class="flabel col-form-label-sm"></label>
                                <input asp-for="sttabcmp" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="percipi" class="flabel col-form-label-sm"></label>
                                <input asp-for="percipi" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>

                        </div>
                    </div>-->
                    @*<p class="text-success sd">Perc. Custo</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <label asp-for="desc_nor2" class="flabel col-form-label-sm"></label>
                                <input asp-for="desc_nor2" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="polvdesc" class="flabel col-form-label-sm"></label>
                                <input asp-for="polvdesc" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-4">
                                <label asp-for="polvmarg" class="flabel col-form-label-sm"></label>
                                <input asp-for="polvmarg" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>

                        </div>*@



                    <div class="col-5">
                        <!-- Precidficacao -->
                        <div class="row">
                            <p class="col-6 text-success sd">Preço de Venda</p>
                            <p class="col-6 text-success sd">Preço de Tabela</p>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">
                                <label asp-for="pvendaant" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvendaant" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="pvenda" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvenda" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="pvendafut" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvendafut   " class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="ptabela1" class="flabel col-form-label-sm"></label>
                                <input asp-for="ptabela1" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="ptabela2" class="flabel col-form-label-sm"></label>
                                <input asp-for="ptabela2" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label asp-for="pofertant" class="flabel col-form-label-sm"></label>
                                <input asp-for="pofertant" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="pofert" class="flabel col-form-label-sm"></label>
                                <input asp-for="pofert" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="pofertfut" class="flabel col-form-label-sm"></label>
                                <input asp-for="pofertfut   " class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>

                            <p class="col-6 text-success sd" style="padding-top:30px">Impostos</p>

                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <label asp-for="percof" class="flabel col-form-label-sm"></label>
                                <input asp-for="percof" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="descofert" class="flabel col-form-label-sm"></label>
                                <input asp-for="descofert" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="pvatacado" class="flabel col-form-label-sm"></label>
                                <input asp-for="pvatacado" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="aliqicms" class="flabel col-form-label-sm"></label>
                                <input asp-for="aliqicms" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="sttabcmp" class="flabel col-form-label-sm"></label>
                                <input asp-for="sttabcmp" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>
                            <div class="col-sm-2">
                                <label asp-for="percipi" class="flabel col-form-label-sm"></label>
                                <input asp-for="percipi" class="mt-0 text-right form-control form-control-sm" type="text">
                            </div>

                        </div>
                    </div>






                    <div class="col-2">
                        <!-- Metas -->
                        <p class="text-success sd">Metas</p>
                        <div class="mx-3 mb-3">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="text-success sd">Meta</p>
                                </div>
                                <div class="col-sm-5">
                                    <p class="text-success sd">Semanal</p>
                                </div>
                                <div class="col-sm-5">
                                    <p class="text-success sd">Mensal</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">1</label>
                                    <input asp-for="meta1" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta1" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">2</label>
                                    <input asp-for="meta2" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta2" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">3</label>
                                    <input asp-for="meta3" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta3" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">4</label>
                                    <input asp-for="meta4" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta4" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">5</label>
                                    <input asp-for="meta5" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta5" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">6</label>
                                    <input asp-for="meta6" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta6" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                                <div class="d-flex d-inline-flex align-items-center px-1">
                                    <label class="d-flex justify-content-center col-sm-2 flabel col-form-label-sm">7</label>
                                    <input asp-for="meta7" class="mx-1 text-right form-control form-control-sm" type="text">
                                    <input asp-for="meta7" class="mx-1 text-right form-control form-control-sm" type="text">
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-4">
                        <!-- Estoque -->
                        <p class="text-success sd">Estoque</p>

                    </div>

                </div>




            </div>
        </fieldset>

    </form>
</div>

<script>
    function Muda_Empresa() {
        var EmpSelecionada = document.getElementById("selectempresa").value;
        var ReferenciaDigitada = document.getElementById('pesqReferencia').value;

        Swal.fire({
            //title: 'Please Wait !',
            html: '<div class="d-flex align-items-center justify-content-center"> <div class="mx-3 spinner-border"></div> <h2> Aguarde...</h2> </div>',
            allowOutsideClick: false,
            showConfirmButton: false,
            onBeforeOpen: () => {
                Swal.showLoading()
            },
        });


        $.ajax({
            method: "GET",
            url: "/Estoque/Produtos",
            data: { Referencia: ReferenciaDigitada, Filial: EmpSelecionada },
            success: function (data) {
                $("#f424").html($(data).find('#f424'));
                swal.close();
            },
            error: function (data) {
                alert('ok');
            }
        })

    }
</script>